@import url('http://fonts.cdnfonts.com/css/tt-norms-pro');
@import 'reset.scss';
@import 'vars.scss';

body {
    font-family: $font-main;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    background: linear-gradient(228.57deg,#323264 11.93%,#323264 57.17%,#643e72 87.46%);
    
    .mini-wrapper {
        background: url(../img/sp_background.png)  no-repeat;
    }


    .header {
        color: white;
        display: flex;
        justify-content: space-between;
        padding: 54px;
    
        &__logo {
            display: flex;
            align-items: flex-start;
    
            &__pages {
                display: block;
    
                span {
                    font-size: 38px;
                    color: white;
                    vertical-align: top;
                }
            }
        }
    
        &__content {
            &__contacts div {
                margin-left: 10px;
            }
    
            &__contacts {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin-bottom: 16px;
    
                &__lang button {
                    border: none; 
                    outline: none;
                    background-color: transparent;
                    color: white;
                    font-family: $font-main;
                    font-size: 12px;
                    padding: 5px 6px;
                    cursor: pointer;
                }
                &__lang button:active {
                background-color: #F0145A;
                border-radius: 8px;
                }
    
                &__dot {
                    width: 6px;
                    height: 6px;
                    background: white;
                    border-radius: 50%
                }
    
                &__address {
                    font-size: 16px;
                }
    
                &__phone {
                    font-weight: bold;
                    cursor: pointer;
                }
    
                &__facebook {
                    cursor: pointer;
                }
            }
    
            &__navigation {
                display: flex;
                justify-content: flex-end;
            }
    
            &__navigation li {
                margin-left: 16px;
                a {
                    text-decoration: none;
                    color: white;
                }    
            }
        }
}

    .firstSection {
        /* height: 100vh; */

        .img {
            background: center url(../img/icon_shopping.png) no-repeat,#fff;
            width: 92px;
            height: 92px;
            border-radius: 24px;
            margin: 20px auto;
        }

        h2 {
            @extend %h2;
            text-align: center;
        }

        p {
            color: white;
            font-size: 21px;
            line-height: 30px;
            text-align: center;
            margin: 0 290px;
        }

        a {
            text-decoration: none;
        }

        .form_callback {
            display: block;
            background-color: $blue;
            box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
            border-radius: 12px;
            border: none;
            color: white;
            width: 250px;
            height: 50px;
            margin: 40px auto 80px auto;
            cursor: pointer;
        }

        .line {
            background-color: white;
            opacity: 0.5;
            height: 4px;
            margin: 0 174px 0 174px;
        }
    }

    .secondSection {
        margin: 0 200px;
        border-radius: 0px 0px 12px 12px;

        p {
            font-size: 24px;
            color: white;
            margin: 20px 0;
        }

        ul {
            column-count: 2;
            line-height: 26px;
            padding-bottom: 80px;
            column-gap: 52px;
        }

        li {
            list-style: disc;
            color: white;
        }

        li::marker {
            color: #F0145A;
        }

    }

    .shadows {
        max-width: 1440px;
        margin: 0 auto;
        background-color: white;
    
        &_one {
            z-index: 2;
            height: 10px;
            margin: 0 20px;
            background: #CACADB;
            border-radius: 0px 0px 12px 12px;
        }
        
        &_two {
            z-index: 1;
            height: 10px;
            margin: 0 40px;
            background: #E7E7F2;
            border-radius: 0px 0px 12px 12px;
        }
    }
}

.thirdSection {
    margin: 40px 60px;
    @import 'successful_cases.scss';
}

.forthSection {
    background-color: $light-gray;
    padding-top: 40px;
    border-radius: 12px 12px 0 0;

    .heading {
        margin: 40px 0 0 80px;
        
        
        .title-head {
            font-size: 14px;
            text-transform: uppercase;
            color: #24a3ff;
            letter-spacing: 1px;
            font-weight: 700;
            margin-bottom: 2px;
            }
        
        h2 {
            @extend %h2;
        }
    }

    @import 'publication.scss';
}

@import 'footer';
